@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800");

$black-dark: #101010;
$black-light: #2c3e50;

//! CSS Animations =======================

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-1200px) rotate(360deg);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.2%;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

//! Section Angle ========================
@mixin angle($pseudo, $flip: false, $angle: 6deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == "before" or $pseudo == "after" or $pseudo == "both" {
    position: relative;
    z-index: 1;
    $selector: if($pseudo == "both", "&:before,&:after", "&:#{$pseudo}");

    #{$selector} {
      background: inherit;
      content: "";
      display: block;
      height: 500px;
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      backface-visibility: hidden; // for Chrome Windows
    }

    @if $pseudo == "before" {
      #{$selector} {
        border-top: 5px solid hsl(0, 0%, 20%);
        top: 0;
        height: 1000px;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }

    @if $pseudo == "after" {
      #{$selector} {
        bottom: 0;
        border-bottom: 5px solid hsl(0, 0%, 20%);

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 100%;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }

    @if $pseudo == "both" {
      &:before {
        // height: 20rem;
        // top: 0;
        border-top: 5px solid hsl(0, 0%, 20%);
        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 120% 0;
        }
      }

      &:after {
        bottom: 0;
        border-bottom: 5px solid hsl(0, 0%, 20%);
        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 120%;
        }
      }
    }
  }
}
//===================================================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05rem;
  // scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background: #333;
}

// //? The progress bar (scroll indicator)
.progress-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  width: 101%;
  max-width: 1360px;
  height: 5px;
  background: hsl(271, 76%, 45%);
  border-bottom: 1px solid black;
  .progress-bar {
    height: 5px;
    background: hsl(60, 100%, 80%);
    width: 0%;
    border: 1px solid black;
    border-radius: 1rem;
  }
}

//! MAIN Section (Hero) ===========================
.main-section {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 125vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // background: hsl(271, 76%, 45%);
  // background: linear-gradient(
  //   180deg,
  //   hsl(60, 100%, 80%) 1%,
  //   rgba(76, 5, 113, 1) 50%
  // );
  background: linear-gradient(
    120deg,
    rgb(153, 11, 230) 1%,
    rgba(76, 5, 113, 1) 50%
  );

  //? Face
  .smiley-face {
    // left clip to fit container
    clip-path: polygon(
      14% 0,
      80% 0%,
      100% 20%,
      100% 80%,
      80% 100%,
      14% 99%,
      14% 78%,
      14% 21%
    );
    // content: "";
    z-index: 1;
    position: absolute;
    left: -2.6em;
    bottom: 7em;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
    background: rgba(169, 3, 41, 0);
    border-radius: 150px;
    background: hsl(60, 100%, 80%);
    .smiley-face__face {
      position: absolute;
      left: 100px;
      top: 100px;
      width: 33.333%;
      height: 100px;
      border-bottom: solid 30px #000000;
      border-radius: 200px;
      transition: all 250ms ease-out;
    }
    // .speech-bubble {
    //   transition: 0.4s ease-in-out;
    //   position: absolute;
    //   left: 260px;
    //   width: 200px;
    //   height: 100px;
    //   background: #fff;
    //   border-radius: 20px;
    //   filter: drop-shadow(2px 2px 4px hsl(0, 0%, 10%));
    //   h2 {
    //     height: 100px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //   }
    //   .triangle {
    //     position: absolute;
    //     top: 80px;
    //     left: -15px;
    //     transform: rotate(48deg);
    //     width: 0;
    //     height: 0;
    //     border-left: 20px solid transparent;
    //     border-right: 20px solid transparent;
    //     border-top: 30px solid #fff;
    //   }
    // }

    /*? Eyes */
    span.smiley-face__face:before,
    span.smiley-face__face:after {
      content: "◝";
      position: absolute;
      text-indent: 12px;
      font-weight: bold;
      font-size: 26px;
      left: 0%;
      top: 40%;
      width: 40px;
      height: 40px;
      background: #000000;
      margin: -25px;
      border-radius: 50px;
      color: rgba(255, 255, 255, 0.7);
      transition: all 150ms ease-out;
    }

    /* Right Eye */
    span.smiley-face__face:after {
      left: auto;
      right: 0%;
    }

    /* Blink Effect */
    span.smiley-face__face.blink:before,
    span.smiley-face__face.blink:after {
      top: calc(40% + 15px);
      height: 2px;
      background: #000000;
      color: rgba(255, 255, 255, 0);
      border-radius: 0px;
      font-size: 2px;
    }
  }

  // .bg {
  //   background-image: url("/IMG/desk-background.jpg");
  //   background-size: cover;
  //   background-position: 50% 100%;
  //   width: 100%;
  //   height: 100%;
  //   filter: opacity(0.15);
  // }

  .main-section__header {
    position: absolute;
    z-index: 100;
    transition: top 0.2s ease-in-out;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70px;
    width: 100%;
    .header__inner-container {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .title-content-wrapper {
        position: absolute;
        top: 0.4em;
        left: 0.8em;
        cursor: default;
        .title-name {
          font-size: 2rem;
          // color: hsl(60, 100%, 80%);
          color: hsl(271, 76%, 20%);
          filter: drop-shadow(0px 1px 1px hsl(271, 76%, 20%));
        }
        h1 {
          width: 10em;
          display: none;
          position: absolute;
          top: 0.4em;
          // left: 0.1em;
          font-size: 1.5rem;
          // color: hsl(271, 76%, 40%);
          color: hsl(60, 100%, 80%);
          // text-shadow: 0px 0.1px hsl(60, 100%, 80%);
          text-shadow: 0px 0.1px hsl(271, 76%, 20%);
          filter: drop-shadow(0px 1px 1px hsl(271, 76%, 20%));
        }
      }
      .header__nav-links {
        width: 340px;
        display: flex;
        align-items: center;
        &:hover li a,
        &:focus li a {
          opacity: 0.6;
          filter: blur(1px);
        }
        li {
          list-style: none;
          padding: 5px 10px;
          margin: 0 5px;
          &:nth-child(2) {
            border: 1px solid hsl(271, 76%, 50%);
            background: hsl(271, 76%, 50%);
            border-radius: 0.5em;
            transition: background 0.3s ease-in-out;

            a {
              color: hsl(60, 100%, 80%);
            }

            &:hover {
              // background: rgb(131, 31, 224);
              // background: hsl(60, 100%, 80%);
              background: transparent;
              a {
                color: hsl(60, 100%, 80%);
                // color: rgb(131, 31, 224);
              }
            }
          }
          a {
            display: block;
            position: relative;
            // color: hsl(271, 76%, 20%);
            color: hsl(60, 100%, 80%);

            font-size: 20px;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.4s ease-in-out;
            cursor: pointer;
            &:hover,
            &:focus {
              color: hsl(60, 100%, 80%);
              // color: hsl(271, 76%, 50%);
              filter: drop-shadow(0px 2px 2px hsl(271, 76%, 20%));
              opacity: 1;
              filter: blur(0);
            }
            &:focus {
              outline: 1.45px dashed;
              outline-color: hsl(60, 100%, 80%);
              filter: drop-shadow(0px 2px 2px hsl(271, 76%, 20%));
            }
          }
        }
      }
    }
    .mobile-burger-menu__container {
      z-index: 500;
      display: none;
      background: transparent;
      border: transparent;
      border-radius: 50%;
      margin-right: 10px;
      position: relative;
      padding: 5px;
      cursor: pointer;
      &:focus {
        outline: thin dashed;
        outline-color: hsl(60, 100%, 80%);
        padding: 0 5px;
        // filter: drop-shadow(0px 2px 2px hsl(271, 76%, 20%));
      }
      .mobile-burger-menu__elements {
        width: 35px;
        height: 35px;
        position: relative;
        top: 5px;
        &:hover,
        &:focus {
          filter: drop-shadow(0px 2px 2px hsl(271, 76%, 20%));
        }
        &:hover .line,
        &:focus .line {
          background: hsl(60, 100%, 80%);
        }
        .line {
          position: absolute;
          width: 35px;
          height: 4px;
          left: 0px;
          // background: blueviolet;
          // background: hsla(271, 67%, 65%, 0.4);
          background: hsl(271, 67%, 65%);

          // background: hsl(271, 76%, 20%);
          border-radius: 2.5px;
          transition: all 0.2s cubic-bezier(0.42, 0, 0.68, 1.78);
        }
        .line01 {
          top: 5%;
        }
        .line02 {
          top: 30%;
        }
        .line03 {
          top: 55%;
        }
      }
      .mobile-burger-menu__elements.close .line01 {
        transform: rotate(45deg);
        top: 30%;
        background: yellow;
      }
      .mobile-burger-menu__elements.close .line02,
      .mobile-burger-menu__elements.close .line03 {
        background: yellow;
        top: 30%;
        transform: rotate(-45deg);
      }
    }

    #mobile-nav-menu {
      z-index: 1000;
      width: 100%;
      height: 100vh;
      background: hsl(271, 76%, 20%);
      opacity: 0.98;
      @include angle(after, true);
      position: absolute;
      top: -150vh;
      transition: 0.4s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ul.mobile-nav-menu__links {
        height: 40%;
        width: 50%;
        margin: auto;
        text-align: center;
        &:hover li a,
        &:focus li a {
          transform: scale(1);
          opacity: 0.6;
          filter: blur(1px);
        }
        li {
          list-style: none;
          padding: 20px 0px 40px;
          a {
            transition: 0.4s;
            display: block;
            position: relative;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            &:hover {
              color: hsl(60, 100%, 80%);
              filter: drop-shadow(0px 2px 2px hsl(271, 76%, 20%));
              transform: scale(1.1);
              opacity: 1;
              filter: blur(0);
            }
            &:focus {
              outline: thin dashed;
              outline-color: hsl(60, 100%, 80%);
              padding: 5px 0px;
            }
          }
        }
      }
      &.active {
        top: 0;
      }
    }
  }

  .main-container {
    position: relative;
    max-width: 100%;
    padding: 1em 0;
    display: flex;
    margin-top: -5em;
    // transform: translate(0, -20%); //same as top
    justify-content: flex-end;
    padding: 1em;
    .main-container__content {
      // position: absolute;
      // width: 100%;
      padding-right: 1em;
      border-right: 10px solid hsla(271, 67%, 65%, 0.4);
      // border-right: 10px solid hsl(271, 67%, 65%);

      // border-radius: 50%;
      text-align: right;
      // width: clamp(60%, 2.5vw, 60%);
      // max-width: 70%;
      text-transform: capitalize;
      text-shadow: 1px 1px #000;
      // font-size: clamp(1rem, 2.5vw, 1.8rem);
      .main-content__greeting {
        // position: absolute;
        color: hsl(60, 100%, 80%);
        font-size: clamp(1.8rem, 3vw, 2.5rem);
        width: 78%;
        // width: clamp(60%, 2.2vw, 55%);
        margin-left: auto;
        .greeting-loop {
          position: relative;
          color: #fff;
          &:after {
            content: "";
            position: absolute;
            top: 0.8em;
            right: -0.1em;
            z-index: -1;
            width: 18rem;
            height: 10px;
            // background: hsla(271, 67%, 65%, 0.4);
            background: hsl(271, 67%, 65%);
            // border-radius: 50px;
          }
        }
      }

      .main-content__CTA {
        margin-top: 0.5em;
        font-size: clamp(1rem, 3vw, 1.3rem);
        // width: 70%;
        float: right;
        color: #fff;
        // line-height: 1.5rem;
      }
      .cta-btn {
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
        padding: 0.5em 1em;
        margin-top: 1em;
        border: 1px solid hsl(271, 76%, 50%);
        background: hsl(271, 76%, 50%);
        // background: hsl(271, 67%, 65%);
        border-radius: 0.5em;
        color: hsl(60, 100%, 80%);
        transition: background 0.3s ease-in-out;
        &:hover {
          background: transparent;
        }
      }
    }
    //? Side Social Media Links
    .main-container__sidebar-social {
      display: flex;
      z-index: 1;
      margin-left: 1em;
      background: transparent;
      .sidebar__social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        list-style: none;
        cursor: pointer;
        a {
          color: hsl(271, 67%, 65%);
          // color: hsl(271, 76%, 50%);

          text-shadow: 0px 1px 1px hsl(271, 76%, 13%);
          transition: color 0.3s ease-in-out;
          &:hover,
          &:focus {
            text-shadow: 0px 2px 2px hsl(271, 76%, 13%);
            color: hsl(60, 100%, 80%);
          }
          .fab {
            // margin: 0.25rem 0;
            font-size: 40px;
          }
        }
      }
    }
  }
}

//! ABOUT Section =================================
#about-section {
  display: block;
  .about-container {
    position: relative;
    @include angle(both);
    display: block;
    z-index: 5;
    background: #fff;
    max-width: 100%;
    width: 100%;
    cursor: default;
    h2.about-title {
      color: blueviolet;
      font-size: 4rem;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      // &:before {
      //   content: "";
      //   position: absolute;
      //   height: 8px;
      //   width: 5em;
      //   top: 1.6em;
      //   left: 6em;
      //   background: blueviolet;
      //   opacity: 0.8;
      // }
    }

    .about-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      hyphens: auto;
      line-height: 1.5em;
      margin: 0 auto;
      width: 98%;
      max-width: 800px;
      text-align: justify;
      // text-align: left;
      text-rendering: optimizeLegibility;
      overflow-wrap: break-word;
      word-wrap: break-word;
      span {
        font-weight: 500;
      }
      // .about-me {
      //   display: block;
      //   padding: 3em 2em;
      //   // margin: 2em 0;
      //   text-align: center;
      //   border-radius: 1rem;
      //   // border: 1px solid blueviolet;
      //   // box-shadow: inset 0px 0px 10px hsl(300, 100%, 8%);
      //   // box-shadow: 0px 2px 10px hsla(300, 100%, 5%, 0.74);
      //   // background: hsl(271, 76%, 45%);
      //   // background: rgb(248, 248, 248);

      //   .about-me__headline {
      //     padding-bottom: 2em;
      //     max-width: 700px;
      //     font-size: 1.4rem;
      //     text-align: center;
      //     margin: 0 auto;
      //     .sub-headline {
      //       padding-top: 1em;
      //       font-weight: 500;
      //     }
      //   }
      //   .about-me__job {
      //     padding: 20px;
      //     width: 90%;
      //     border: 1px solid blueviolet;
      //     border-radius: 20px;
      //     margin: 0 auto;
      //     transition: background-color 0.3s ease-in-out;
      //     font-size: 1.2rem;
      //     background: rgb(250, 250, 250);

      //     a {
      //       text-decoration: none;
      //       p {
      //         margin: 0 auto;
      //         max-width: 400px;
      //         color: blueviolet;
      //       }
      //     }
      //     &:hover {
      //       background-color: blueviolet;

      //       p {
      //         color: #fff;
      //       }
      //     }
      //     &:focus {
      //       outline: 1.45px dashed;
      //       outline-color: hsl(60, 100%, 80%);
      //     }
      //   }
      // }
      .about-me__skills {
        // padding: 1.5em 0;
        // padding-top: 2em;
        h3 {
          display: none;
          color: blueviolet;
          font-size: 3rem;
          text-transform: uppercase;
          text-align: center;
        }
        .skills-icons {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          // display: flex;
          // flex-direction: row;
          // max-width: 90%;
          // height: 100%;
          width: 10%;
          margin: 0 auto;
          ul {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            li {
              width: 6em;
              padding: 1em 0;
              list-style: none;
              display: inherit;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              i {
                color: #474747;
                font-size: 2rem;
                padding-bottom: 0.2em;
                transition: all 0.3s ease-in-out;
              }
              .fa-bootstrap,
              .fa-jquery {
                background-position: center;
                background-repeat: no-repeat;
                background-size: 35px;
                height: 35px;
                width: 35px;
                filter: grayscale(100%);
                &:hover,
                &:focus {
                  filter: grayscale(0%);
                }
              }
              .fa-bootstrap {
                background-image: url("/IMG/bootstrap-4.png");
              }
              .fa-jquery {
                background-image: url("/IMG/jquery.png");
              }
              &:hover i,
              &:focus i {
                transform: scale(1.3);
                color: blueviolet;
              }
            }
          }
        }
      }
      .skills-description {
        max-width: 800px;
        width: 90%;
        margin: 2em auto;
      }
      .about-me__job {
        padding: 20px;
        width: 80%;
        border: 1px solid blueviolet;
        border-radius: 20px;
        margin: 2em auto 0;
        transition: background-color 0.3s ease-in-out;
        font-size: 1.2rem;
        background: rgb(250, 250, 250);
        text-align: center;
        a {
          text-decoration: none;
          p {
            margin: 0 auto;
            max-width: 400px;
            color: blueviolet;
          }
        }
        &:hover {
          background-color: blueviolet;

          p {
            color: #fff;
          }
        }
        &:focus {
          outline: 1.45px dashed;
          outline-color: hsl(60, 100%, 80%);
        }
      }

      .about-me__quote {
        padding: 3em 0;
        blockquote {
          letter-spacing: 1px;
          border-left: 10px solid hsl(271, 76%, 63%);
          margin: 0 10px;
          max-width: 700px;
          padding: 0 10px;
          quotes: "\201C""\201D""\2018""\2019";
        }
        blockquote:before {
          color: blueviolet;
          content: open-quote;
          font-size: 4em;
          line-height: 0.1em;
          margin-right: 0.2em;
          vertical-align: -0.4em;
        }
      }
    }
  }
}

//! Projects Section =============================
#projects-section {
  .projects {
    @include angle(after);
    padding: 10em 0 0;
    display: relative;
    // top: -2em;
    background: blueviolet;
    cursor: default;

    h2.projects-title {
      z-index: 5;
      font-weight: 800;
      text-align: center;
      font-size: 4rem;
      color: hsl(60, 100%, 80%);
      text-transform: uppercase;
      // animation: slideUp 1s cubic-bezier(0.19, 1, 0.3, 1) 0.5s forwards;
    }

    .grid-container {
      padding: 3em 0;
      .projects-grid {
        display: flex;
        flex-flow: wrap;
        grid-gap: 5em 1em;
        justify-content: center;
        width: 94%;
        margin: 0 auto;
        .card {
          position: relative;
          border-radius: 10px;
          // border-radius: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          row-gap: 1em;
          max-width: 35em;
          width: 450px;
          // transform: 0.5s;
          // transform-style: preserve-3d;
          // transform: perspective(1000px);
          // transform: translate3d(0%, 0%, 0px);
          &:nth-child(4) .card-title {
            left: 0.6em;
          }
          &:nth-child(8) .card-title {
            left: 1.3em;
          }
          .card-title {
            color: hsl(60, 100%, 80%);
            left: -1%;
          }
          i {
            font-size: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .top-info {
            p {
              letter-spacing: 1px;
              padding: 10px 0;
            }
          }
          .card__links {
            display: flex;
            justify-content: flex-start;
            a {
              margin-right: 1em;
              text-decoration: none;
              color: hsla(60, 100%, 80%, 0.9);
              font-size: 1.2rem;
              text-align: center;
              transition: all 0.2s ease-in-out;
              &:hover,
              &:focus {
                color: #fff;
                transform: scale(1.1);
              }
              &:focus {
                outline-color: yellow;
                filter: drop-shadow(1px 2px 2px blueviolet);
              }
            }
          }
          &:nth-child(3) .card__links,
          &:nth-child(7) .card__links {
            justify-content: flex-end;
          }
        }
        .cardImg {
          font-size: 3rem;
          padding: 2em;
          box-shadow: inset 0 0 10px hsl(300, 100%, 15%);
          background: hsl(271, 76%, 45%);
          transform: 0.5s;
          transform-style: preserve-3d;
          transform: perspective(1000px);
          transition: filter 0.5s ease-in-out;
          transform: translateZ(20px);
          // &:hover .icon,
          // &:hover .card-title {
          //   // transform: translateZ(20px);
          //   filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.2));
          // }
          .icon {
            transition: 0.5s ease-in-out;
            transform: translateZ(20px);
            // filter: drop-shadow(2px 2px 2px hsl(300, 100%, 15%));
          }
          .card-title {
            transform: translateZ(20px);
            position: absolute;
            bottom: -5%;
            right: 0;
            transition: 0.5s ease-in-out;
          }
        }
        .card-1__info,
        .card-2__info,
        .card-3__info,
        .card-4__info {
          color: #fff;
          font-size: 1.1rem;
          letter-spacing: 1px;
          text-align: left;
        }
        .card-2__info,
        .card-4__info {
          text-align: right;
        }
      }
    }
  }
}

//! CONTACT Section ===============================
#contact-section {
  margin: -3em 0;
  position: relative;
  padding: 10em 0 0;
  background: #fff;
  cursor: default;
  .contact-container {
    padding-bottom: 1em;
    text-align: center;
    //? Floating Box Animation
    .floating-boxes {
      position: absolute;
      bottom: 0em;
      left: 0;
      width: 100%;
      height: 41em;
      overflow: hidden;
      li {
        border-radius: 5px;
        position: absolute;
        display: block;
        list-style: none;
        width: 25px;
        height: 25px;
        background: hsla(252, 59%, 29%, 0.37);
        animation: animate 20s linear infinite;
        bottom: -180px;
      }
    }

    h2.contact-title {
      position: relative;
      font-weight: 800;
      font-size: 4rem;
      color: blueviolet;
      text-transform: uppercase;
    }

    form.cf-form {
      margin: 3em auto;
      max-width: 37rem;
      text-align: center;
      .field-wrapper {
        display: block;
        position: relative;
        width: 100%;
        label {
          border-radius: 8px;
          z-index: 100;
          position: relative;
          white-space: nowrap;
          overflow: hidden;
          font-size: 1em;
          font-family: inherit;
          position: absolute;
          top: 5px;
          left: 0;
          display: inline-block;
          background: #fff;
          margin: 8px 5px;
          line-height: 1.4em;
          padding: 0 10px;
          transition: all 0.2s linear;
          text-transform: capitalize;
          cursor: text;
        }
        &.focused label {
          transition: all 0.2s linear;
          top: -20px;
        }
      }

      input,
      textarea {
        font-size: 1.2rem;
        border: 1px solid blueviolet;
        padding: 1em;
        border-radius: 0.5em;
        display: block;
        width: 100%;
        font-family: arial, sans-serif;
        filter: drop-shadow(1px 3px 2px gray);
        resize: none;
        &:focus {
          outline-color: yellow;
          filter: drop-shadow(1px 2px 2px blueviolet);
        }
      }
      input:nth-child(2) {
        margin-bottom: 1em;
      }
      textarea {
        height: calc(14rem + 2px);
      }
      #input-submit {
        position: relative;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        background: blueviolet;
        cursor: pointer;
        filter: drop-shadow(0px 4px 2px gray);
        letter-spacing: 0.1rem;
        transition: 0.2s ease-in-out;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
          0px -1px 0px rgba(0, 0, 0, 0.7);
        &:hover,
        &:focus {
          filter: drop-shadow(0px 1px 1px gray);
        }
      }
    }
    .half {
      float: left;
      width: 48%;
    }
    .right {
      width: 50%;
    }
    .left {
      margin-right: 2%;
    }
    .form-update-container {
      position: relative;
      z-index: 100;
      height: 21.5em;
      box-shadow: inset 0 0 10px hsl(300, 100%, 15%);
      background: hsl(271, 76%, 45%);
      border-radius: 0.5em;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        color: hsl(60, 100%, 80%);
        font-size: 2rem;
      }
      p {
        padding-top: 5px;
        font-size: 1.2rem;
        a {
          i {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

//! @MEDIA QUERIES ================================

@media screen and (max-width: 1200px) {
  section.main-section {
    .smiley-face {
      left: -40.5%;
    }
    .main-container {
      .main-container__content {
        //   // width: 45em !important;
        .main-content__greeting {
          .greeting-loop {
            &:after {
              width: 14rem !important;
            }
          }
        }
      }
    }
  }

  // .about#about-section {
  //   .about-container {
  //     .about-info {
  //       .skills-icons {
  //         ul {
  //           align-items: flex-start;
  //           margin-left: 0.5em;
  //         }
  //       }
  //     }
  //   }
  // }
  .about#about-section {
    .about-container {
      h2.about-title {
        padding: 0.5em 0 0;
      }
      .about-info {
        .about-me__skills {
          h3 {
            display: block;
          }
        }
        .skills-icons {
          position: static;
          width: 90%;
          top: 0;
          transform: translate(0, 0);
          ul {
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
  #contact-section {
    .contact-container {
      .floating-boxes {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  section.main-section {
    height: 115vh;
    // .speechBubble {
    //   display: none;
    // }
    // .smiley-face {
    //   top: 13em;
    //   left: 6em;
    // }
    // .sidebar-social {
    //   bottom: 7em !important;
    // }
  }

  .about#about-section {
    .about-container {
      h2.about-title {
        padding: 0.5em 0 0;
      }
      // .about-info {
      //   .skills-icons {
      //     max-width: 600px;
      //     width: 100%;
      //     position: static;
      //     top: 0;
      //     transform: translate(0, 0);
      //     ul {
      //       padding: 2em 0;
      //       flex-direction: row;
      //       align-items: center;
      //       justify-content: space-evenly;
      //       flex-wrap: wrap;
      //     }
      //   }
      // }
    }
  }

  section#projects-section {
    .projects {
      top: -3em !important;
      .grid-container {
        .projects-grid {
          grid-gap: 1.5em;
          &:nth-child(1) .card-2__info {
            order: 4;
            text-align: left;
            .card__links {
              justify-content: flex-start;
            }
          }
          &:nth-child(1) .card-2 {
            order: 3;
          }
          &:nth-child(1) .card-3__info {
            text-align: left;
          }
          &:nth-child(1) .card-4__info {
            text-align: left;
            order: 6;
            .card__links {
              justify-content: flex-start;
            }
          }
          &:nth-child(1) .card-4 {
            order: 5;
          }
          .card {
            &:nth-child(4) .card-title,
            &:nth-child(8) .card-title {
              left: -1%;
            }
            // &:nth-child(8) .card-title {
            //   left: -1%;
            // }
          }
        }
      }
    }
  }

  section#contact-section {
    padding-top: 6em;
  }
}

@media screen and (max-width: 800px) {
  .main-section {
    .smiley-face {
      display: none;
    }
  }
  .main-section__header {
    .header__inner-container {
      .header__nav-links {
        display: none !important;
      }
    }
    .mobile-burger-menu {
      button.mobile-burger-menu__container {
        display: block !important;
      }
    }
  }

  .header__inner-container {
    .title-content-wrapper {
      .title-name {
        display: none;
      }
      h1 {
        display: flex !important;
      }
    }
  }
  .main-container {
    flex-direction: column !important;
    .main-container__content {
      padding-right: 0em !important;
      border-right: 0 !important;
      // max-width: 80% !important;
      margin-left: auto;
      .main-content__greeting {
        font-size: 1.6rem !important;
        width: 100% !important;
      }
      // .main-content__CTA {
      //   width: 75% !important;
      //   width: clamp(55%, 2.5em, 75%) !important;
      //   margin-top: 1em;
      //   .cta-btn {
      //     margin-top: 1em;
      //   }
      // }
    }

    .main-container__sidebar-social {
      margin: 1em 0 !important;
      justify-content: flex-end;
      .sidebar__social-media {
        flex-direction: row !important;
      }
    }
  }
  .about#about-section {
    .about__container {
      padding-top: 50px !important;
    }
    .about__top {
      width: 100%;
    }
  }
  section#contact-section {
    .contact-container {
      // .floating-boxes {
      //   // display: none;
      // }
      form.cf-form {
        width: 95%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  // section.main-section {
  //   // height: 110vh !important;
  //   .main-container {
  //     .main-container__content {
  //       .main-content__greeting {
  //         .greeting-loop {
  //           &:after {
  //             width: 12rem !important;
  //             left: 14% !important;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  .about#about-section {
    .about-container {
      .about-info {
        width: 98% !important;
      }
    }
    .about__top {
      width: 100%;
    }
    // .about-me__headline {
    //   // text-align: justify !important;
    //   width: 90%;
    // }
  }

  section#contact-section {
    padding-top: 4rem;
    display: flex;
    margin: -3em auto;

    h2.contact-title {
      margin-top: 2rem !important;
    }

    .contact-container {
      .floating-boxes {
        display: none;
        height: 55em;
      }

      form.cf-form {
        width: 100%;
        input#input-submit {
          top: 1rem;
          position: relative;
          width: 80%;
          left: 50%;
          transform: translate(-50%);
        }
        input:nth-child(3) {
          margin-bottom: 1em;
        }
      }
      .half {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 80% !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .about#about-section {
    .about {
      p.about__top {
        font-size: 18px !important;
        width: 95% !important;
      }
    }
  }
}
