@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05rem;
}

body {
  max-width: 100%;
  width: 100%;
}

body header.top-navbar {
  position: absolute;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
}

body header.top-navbar .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
}

body header.top-navbar .nav-container h1.logo {
  color: yellow;
  padding: 0 20px;
  font-size: 30px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

body header.top-navbar .nav-container h1.logo:hover {
  -webkit-filter: drop-shadow(2px 2px 2px black);
          filter: drop-shadow(2px 2px 2px black);
}

body header.top-navbar .nav-container ul.menu-links {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header.top-navbar .nav-container ul.menu-links li {
  list-style: none;
  padding: 0 20px;
}

body header.top-navbar .nav-container ul.menu-links li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

body header.top-navbar .nav-container ul.menu-links li a:hover {
  color: yellow;
  -webkit-filter: drop-shadow(2px 2px 2px black);
          filter: drop-shadow(2px 2px 2px black);
}

body .main-section {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #761cca;
}

body .main-section .bg {
  background-image: url("/IMG/desk-background.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
}

body .main-section .main-content {
  position: absolute;
}

body .main-section .main-content h1 {
  font-size: 60px;
  padding: 10px 0;
  color: white;
}

body .main-section .main-content .greeting-loop {
  color: white;
  font-size: 40px;
}

body .main-section .triangle-container {
  position: absolute;
  top: 85%;
  z-index: 5;
}

body .main-section .triangle-container .triangle-down {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid yellow;
}

body .about-section {
  position: relative;
  z-index: 1;
  height: 500px;
  background: white;
}

body .about-section:before, body .about-section:after {
  background: inherit;
  content: '';
  display: block;
  height: 500px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

body .about-section:before {
  top: 0;
  -webkit-transform: skewY(1deg);
          transform: skewY(1deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

body .about-section:after {
  bottom: 0;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

body .portfolio-section {
  position: relative;
  z-index: 1;
  height: 500px;
  background: blueviolet;
}

body .portfolio-section:before, body .portfolio-section:after {
  background: inherit;
  content: '';
  display: block;
  height: 500px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

body .portfolio-section:before {
  top: 0;
  -webkit-transform: skewY(1deg);
          transform: skewY(1deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

body .portfolio-section:after {
  bottom: 0;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}
/*# sourceMappingURL=style.css.map */