@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800");
@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1200px) rotate(360deg);
            transform: translateY(-1200px) rotate(360deg);
    opacity: 1;
  }
}
@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1200px) rotate(360deg);
            transform: translateY(-1200px) rotate(360deg);
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05rem;
  scroll-behavior: smooth;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.main-section {
  height: 125vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #761cca;
  /* Eyes */
  /* Right Eye */
  /* Blink Effect */
}

.main-section .smiley-face {
  position: absolute;
  left: 8%;
  top: 90%;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  background: rgba(169, 3, 41, 0);
  margin: -150px;
  border-radius: 150px;
  content: "";
  background: #ffff99;
}

.main-section .smiley-face span.face {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 33.333%;
  height: 100px;
  border-bottom: solid 30px #000000;
  border-radius: 200px;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.main-section .smiley-face span.speechBubble {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  position: absolute;
  left: 260px;
  width: 200px;
  height: 100px;
  background: #fff;
  border-radius: 20px;
  -webkit-filter: drop-shadow(2px 2px 4px #1a1a1a);
          filter: drop-shadow(2px 2px 4px #1a1a1a);
}

.main-section .smiley-face span.speechBubble h2 {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section .smiley-face span.speechBubble .triangle {
  position: absolute;
  top: 80px;
  left: -15px;
  -webkit-transform: rotate(48deg);
          transform: rotate(48deg);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #fff;
}

.main-section span.face:before,
.main-section span.face:after {
  position: absolute;
  content: "◝";
  text-indent: 12px;
  font-weight: bold;
  font-size: 26px;
  left: 0%;
  top: 40%;
  width: 40px;
  height: 40px;
  background: #000000;
  margin: -25px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.main-section span.face:after {
  left: auto;
  right: 0%;
}

.main-section span.face.blink:before,
.main-section span.face.blink:after {
  top: calc(40% + 15px);
  height: 2px;
  background: #000000;
  color: rgba(255, 255, 255, 0);
  border-radius: 0px;
  font-size: 2px;
}

.main-section .bg {
  background-image: url("/IMG/desk-background.jpg");
  background-size: cover;
  background-position: 50% 100%;
  width: 100%;
  height: 100%;
  -webkit-filter: opacity(0.15);
          filter: opacity(0.15);
}

.main-section header.main-section__header {
  position: absolute;
  z-index: 100;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
}

.main-section header.main-section__header .header__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
}

.main-section header.main-section__header .header__inner-container .header__nav-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-section header.main-section__header .header__inner-container .header__nav-links:hover li a {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.6;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.main-section header.main-section__header .header__inner-container .header__nav-links li {
  list-style: none;
  padding: 0 20px;
}

.main-section header.main-section__header .header__inner-container .header__nav-links li a {
  display: block;
  position: relative;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.main-section header.main-section__header .header__inner-container .header__nav-links li a:hover {
  color: #ffff99;
  -webkit-filter: drop-shadow(0px 2px 2px #340c5a);
          filter: drop-shadow(0px 2px 2px #340c5a);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.main-section header.main-section__header .header__inner-container .header__nav-links li a:focus {
  outline: 1.45px dashed;
  outline-color: #ffff99;
  padding: 2px 5px;
  -webkit-filter: drop-shadow(0px 2px 2px #340c5a);
          filter: drop-shadow(0px 2px 2px #340c5a);
}

.main-section header.main-section__header .burger-container {
  z-index: 500;
  display: none;
  background: transparent;
  border: transparent;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  padding: 5px;
  cursor: pointer;
}

.main-section header.main-section__header .burger-container:focus {
  outline: thin dashed;
  outline-color: #ffff99;
  padding: 0 5px;
}

.main-section header.main-section__header .burger-container .burger-elements {
  width: 35px;
  height: 35px;
  position: relative;
  top: 5px;
}

.main-section header.main-section__header .burger-container .burger-elements:hover {
  -webkit-filter: drop-shadow(0px 2px 2px #340c5a);
          filter: drop-shadow(0px 2px 2px #340c5a);
}

.main-section header.main-section__header .burger-container .burger-elements:hover .line {
  background: #ffff99;
}

.main-section header.main-section__header .burger-container .burger-elements .line {
  position: absolute;
  width: 35px;
  height: 4px;
  left: 0px;
  background: #fff;
  border-radius: 2.5px;
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.68, 1.78);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.68, 1.78);
}

.main-section header.main-section__header .burger-container .burger-elements .line01 {
  top: 5%;
}

.main-section header.main-section__header .burger-container .burger-elements .line02 {
  top: 30%;
}

.main-section header.main-section__header .burger-container .burger-elements .line03 {
  top: 55%;
}

.main-section header.main-section__header .burger-container .burger-elements.close .line01 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 30%;
  background: yellow;
}

.main-section header.main-section__header .burger-container .burger-elements.close .line02,
.main-section header.main-section__header .burger-container .burger-elements.close .line03 {
  background: yellow;
  top: 30%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-section header.main-section__header #sidebar-menu {
  width: 100%;
  height: 100vh;
  background: #340c5a;
  opacity: 0.98;
  position: relative;
  z-index: 1;
  position: absolute;
  top: -150vh;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section header.main-section__header #sidebar-menu:after {
  background: inherit;
  content: "";
  display: block;
  height: 500px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.main-section header.main-section__header #sidebar-menu:after {
  bottom: 0;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.main-section header.main-section__header #sidebar-menu ul.sidebar-menu__links {
  height: 40%;
  width: 50%;
  margin: auto;
  text-align: center;
}

.main-section header.main-section__header #sidebar-menu ul.sidebar-menu__links:hover li a {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.6;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.main-section header.main-section__header #sidebar-menu ul.sidebar-menu__links li {
  list-style: none;
  padding: 20px 0px 40px;
}

.main-section header.main-section__header #sidebar-menu ul.sidebar-menu__links li a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.main-section header.main-section__header #sidebar-menu ul.sidebar-menu__links li a:hover {
  color: #ffff99;
  -webkit-filter: drop-shadow(0px 2px 2px #340c5a);
          filter: drop-shadow(0px 2px 2px #340c5a);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.main-section header.main-section__header #sidebar-menu ul.sidebar-menu__links li a:focus {
  outline: thin dashed;
  outline-color: #ffff99;
  padding: 5px 0px;
}

.main-section header.main-section__header #sidebar-menu.active {
  top: 0;
}

.main-section header.nav-up {
  top: -70px;
}

.main-section .main-content {
  position: absolute;
}

.main-section .main-content .content-wrapper {
  position: relative;
  top: -80px;
  cursor: default;
}

.main-section .main-content .content-wrapper .title-name {
  z-index: 10;
  font-size: 80px;
  color: #ffff99;
  -webkit-filter: drop-shadow(0px 4px 4px #340c5a);
          filter: drop-shadow(0px 4px 4px #340c5a);
}

.main-section .main-content .content-wrapper h1 {
  display: none;
  z-index: 10;
  font-size: 80px;
  padding: 10px 0;
  color: #ffff99;
  -webkit-filter: drop-shadow(0px 4px 4px #340c5a);
          filter: drop-shadow(0px 4px 4px #340c5a);
}

.main-section .main-content .greeting-loop {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 460px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  text-align: center;
}

#about-section .about__container {
  position: relative;
  z-index: 1;
  height: 1500px;
  background: #fff;
  max-width: 100%;
  width: 100%;
  cursor: default;
}

#about-section .about__container:before {
  background: inherit;
  content: "";
  display: block;
  height: 500px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#about-section .about__container:before {
  border-top: 5px solid #333333;
  top: 0;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

#about-section .about__container h2.about__title {
  color: blueviolet;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

#about-section .about__container .about__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 800px;
  overflow-wrap: break-word;
  padding: 50px 0;
  text-align: justify;
  text-rendering: optimizeLegibility;
  width: 80%;
  word-wrap: break-word;
}

#about-section .about__container .about__info hr {
  width: 75%;
  margin: 0 auto;
}

#about-section .about__container .about__info span {
  font-weight: 500;
}

#about-section .about__container .about__info .about__me--main {
  padding-bottom: 50px;
}

#about-section .about__container .about__info .about__me--main .about__top {
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 40px;
  max-width: 600px;
  margin: 0 auto;
}

#about-section .about__container .about__info .front-end {
  padding: 50px 0 35px;
}

#about-section .about__container .about__info .back-end {
  padding-bottom: 10px;
}

#about-section .about__container .about__info .currently {
  padding-bottom: 50px;
}

#about-section .about__container .about__info .future {
  padding-top: 50px;
}

#about-section .about__container .about__info .future blockquote {
  border-left: 10px solid #a359e8;
  margin: 0 10px;
  max-width: 700px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}

#about-section .about__container .about__info .future blockquote:before {
  color: blueviolet;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
}

#about-section .about__container .about__info .future blockquote p {
  display: inline;
}

#portfolio-section .portfolio {
  padding-top: 10px;
  height: 600px;
  position: relative;
  z-index: 1;
  background: blueviolet;
  cursor: default;
}

#portfolio-section .portfolio:before, #portfolio-section .portfolio:after {
  background: inherit;
  content: "";
  display: block;
  height: 500px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#portfolio-section .portfolio:before {
  top: 0;
  border-top: 5px solid #333333;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

#portfolio-section .portfolio:after {
  bottom: 0;
  border-bottom: 5px solid #333333;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

#portfolio-section .portfolio .box-area {
  position: absolute;
  top: -160px;
  left: 0;
  width: 100%;
  height: 152%;
  overflow: hidden;
}

#portfolio-section .portfolio .box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 20s linear infinite;
          animation: animate 20s linear infinite;
  bottom: -180px;
}

#portfolio-section .portfolio .box-area li:nth-child(1) {
  left: 92%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

#portfolio-section .portfolio .box-area li:nth-child(2) {
  left: 5%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  background: green;
}

#portfolio-section .portfolio .box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

#portfolio-section .portfolio .box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
}

#portfolio-section .portfolio .box-area li:nth-child(5) {
  left: 60%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

#portfolio-section .portfolio .box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

#portfolio-section .portfolio .box-area li:nth-child(7) {
  left: 30%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

#portfolio-section .portfolio .box-area li:nth-child(8) {
  left: 50%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

#portfolio-section .portfolio h2.portfolio-title {
  z-index: 5;
  position: relative;
  font-weight: 800;
  text-align: center;
  font-size: 60px;
  color: #ffff99;
  text-transform: uppercase;
}

#portfolio-section .portfolio .grid-container {
  margin: 75px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio-section .portfolio .grid-container .portfolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 15px;
  width: 1000px;
  height: 400px;
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card {
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 6px #340c5a;
          box-shadow: 0px 4px 6px #340c5a;
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 10;
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face {
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face--front {
  background: transparent;
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face--back {
  cursor: default;
  background: linear-gradient(-45deg, #101010, #2c3e50);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  overflow: hidden;
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face--back:before, #portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face--back:after {
  position: absolute;
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face--back:before {
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  top: -20px;
  right: 10px;
  content: "";
  width: 200px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  z-index: 1;
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face--back:after {
  cursor: pointer;
  content: "+";
  top: 5px;
  right: 5px;
  font-size: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face--back .left-side a i {
  color: #b478ed;
  -webkit-filter: drop-shadow(1px 2px 2px #1a062d);
          filter: drop-shadow(1px 2px 2px #1a062d);
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face--back .left-side a i.fab {
  position: absolute;
  left: 15%;
  top: 10%;
  font-size: 60px;
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face--back .left-side p {
  color: #ffffcc;
  -webkit-filter: drop-shadow(1px 1px 1px #1a1a1a);
          filter: drop-shadow(1px 1px 1px #1a1a1a);
  left: 13%;
  position: absolute;
  text-transform: uppercase;
  top: 42%;
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face--back .right-side a i {
  z-index: 2;
  color: #b478ed;
  -webkit-filter: drop-shadow(1px 2px 2px #1a062d);
          filter: drop-shadow(1px 2px 2px #1a062d);
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face--back .right-side a i.fas {
  position: absolute;
  right: 20%;
  top: 50%;
  font-size: 50px;
}

#portfolio-section .portfolio .grid-container .portfolio-grid .card .card__face--back .right-side p {
  color: #ffffcc;
  -webkit-filter: drop-shadow(1px 1px 1px #1a1a1a);
          filter: drop-shadow(1px 1px 1px #1a1a1a);
  right: 10%;
  top: 80%;
  position: absolute;
  text-transform: uppercase;
}

#portfolio-section .portfolio .grid-container .card1 {
  background-image: url("/IMG/portfolio-img/Simones-recipe-box.png");
  background-size: cover;
  background-position: center center;
}

#portfolio-section .portfolio .grid-container .card2 {
  background-image: url("/IMG/portfolio-img/Task-Manager.png");
  background-size: cover;
  background-position: center center;
}

#portfolio-section .portfolio .grid-container .card3 {
  background-image: url("/IMG/portfolio-img/Rock-Paper-Pokemon.png");
  background-size: cover;
  background-position: center center;
  border-top-right-radius: 15px;
}

#contact-section {
  padding-top: 100px;
  height: 700px;
  background: #fff;
  cursor: default;
}

#contact-section .contact {
  text-align: center;
}

#contact-section .contact h2.contact-title {
  margin-top: 40px;
  font-weight: 800;
  font-size: 60px;
  color: blueviolet;
  text-transform: uppercase;
}

#contact-section .contact form.cfForm {
  max-width: 600px;
  text-align: center;
  margin: 55px auto;
}

#contact-section .contact form.cfForm input,
#contact-section .contact form.cfForm textarea {
  font-size: 18px;
  border: 1px solid blueviolet;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: arial, sans-serif;
  -webkit-filter: drop-shadow(1px 3px 2px gray);
          filter: drop-shadow(1px 3px 2px gray);
  resize: none;
}

#contact-section .contact form.cfForm input:focus,
#contact-section .contact form.cfForm textarea:focus {
  outline-color: yellow;
  -webkit-filter: drop-shadow(1px 2px 2px blueviolet);
          filter: drop-shadow(1px 2px 2px blueviolet);
}

#contact-section .contact form.cfForm textarea {
  height: 214px;
}

#contact-section .contact form.cfForm #input-submit {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  background: blueviolet;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 2px gray);
          filter: drop-shadow(0px 4px 2px gray);
  letter-spacing: 0.1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}

#contact-section .contact form.cfForm #input-submit:hover {
  -webkit-filter: drop-shadow(0px 1px 1px gray);
          filter: drop-shadow(0px 1px 1px gray);
}

#contact-section .contact .half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

#contact-section .contact .right {
  width: 50%;
}

#contact-section .contact .left {
  margin-right: 2%;
}

.footer-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  color: #fff;
  height: 70px;
}

.footer-section .social-media {
  width: 20%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

.footer-section .social-media a {
  color: #fff;
}

.footer-section .social-media a:hover {
  color: blueviolet;
}

.footer-section .social-media a .fab {
  font-size: 40px;
}

.footer-section .web-dev {
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  right: 0;
  padding-right: 10px;
  cursor: default;
}

@media screen and (max-width: 1000px) {
  section.main-section .speechBubble {
    display: none;
  }
  .about#about-section {
    height: 1600px;
  }
  section#portfolio-section .portfolio .box-area {
    top: -100px !important;
    height: 135%;
  }
}

@media screen and (max-width: 800px) {
  .main-section .smiley-face {
    display: none;
  }
  .main-content .content-wrapper h1 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    font-size: 60px !important;
  }
  .main-content .content-wrapper .title-name {
    display: none;
  }
  .about#about-section {
    height: 2000px !important;
  }
  .about#about-section .about__container {
    padding-top: 50px !important;
  }
  .about#about-section .about__top {
    width: 100%;
  }
  section#portfolio-section .portfolio {
    padding-top: 50px !important;
    height: 800px !important;
  }
  section#portfolio-section .portfolio .box-area {
    top: -100px !important;
    height: 125%;
  }
  section#portfolio-section .portfolio .portfolio-grid {
    -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    width: 90% !important;
  }
  section#portfolio-section .portfolio .portfolio-grid .card {
    height: 200px !important;
  }
  section#contact-section {
    padding-top: 75px !important;
  }
}

@media screen and (min-width: 600px) {
  #sidebar-menu {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .main-section {
    height: 110vh !important;
  }
  .main-section__header .header__inner-container .header__nav-links {
    display: none !important;
  }
  .main-section__header .burger-menu button.burger-container {
    display: block !important;
  }
  .main-content .content-wrapper h1 {
    font-size: 45px !important;
  }
  .main-content .greeting-loop {
    font-size: 28px !important;
  }
  .about#about-section {
    height: 2200px !important;
  }
  section#portfolio-section .portfolio {
    height: 1500px !important;
  }
  section#portfolio-section .portfolio .box-area {
    display: none;
  }
  section#portfolio-section .portfolio .portfolio-grid {
    -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)) !important;
    width: 70% !important;
  }
  section#portfolio-section .portfolio .portfolio-grid .card {
    height: 200px !important;
  }
  section#contact-section {
    width: 100%;
    height: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section#contact-section .contact form.cfForm input#input-submit {
    width: 80%;
    position: relative;
    left: 50%;
    top: 20px;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  section#contact-section .contact .half {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 80% !important;
  }
}

@media screen and (max-width: 500px) {
  .main-content .content-wrapper h1 {
    font-size: 36px !important;
  }
  .main-content .greeting-loop {
    font-size: 24px !important;
    width: 380px !important;
  }
  .about#about-section {
    height: 2400px !important;
  }
  .about#about-section .about p.about__top {
    font-size: 18px !important;
    width: 95% !important;
  }
  section#portfolio-section .portfolio .portfolio-grid {
    width: 80% !important;
  }
  footer.footer-section .social-media {
    width: 100% !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  footer.footer-section .social-media a {
    padding: 5px;
  }
  footer.footer-section .web-dev {
    font-size: 16px !important;
  }
}
/*# sourceMappingURL=styles.css.map */