@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05rem;
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

header.top-navbar {
  position: absolute;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
}

header.top-navbar .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
}

header.top-navbar .nav-container h1.logo {
  color: yellow;
  padding: 0 20px;
  font-size: 30px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header.top-navbar .nav-container h1.logo:hover {
  -webkit-filter: drop-shadow(2px 2px 2px #340c5a);
          filter: drop-shadow(2px 2px 2px #340c5a);
}

header.top-navbar .nav-container ul.menu-links {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header.top-navbar .nav-container ul.menu-links li {
  list-style: none;
  padding: 0 20px;
}

header.top-navbar .nav-container ul.menu-links li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header.top-navbar .nav-container ul.menu-links li a:hover {
  color: yellow;
  -webkit-filter: drop-shadow(2px 2px 2px #340c5a);
          filter: drop-shadow(2px 2px 2px #340c5a);
}

header.top-navbar .nav-container ul.menu-links li a:focus {
  outline: 1.45px dashed;
  outline-color: yellow;
  padding: 2px 5px;
}

header.top-navbar #burger-wrapper {
  display: inline-block;
  background: transparent;
  border: transparent;
  border-radius: 50%;
  margin: 10px;
  position: relative;
  padding: 5px;
  cursor: pointer;
}

header.top-navbar #burger-wrapper:focus {
  outline: thin dashed;
  outline-color: yellow;
  padding: 5px;
}

header.top-navbar #burger-wrapper .main-item {
  width: 35px;
  height: 35px;
  position: relative;
  top: 5px;
}

header.top-navbar #burger-wrapper .main-item .line {
  position: absolute;
  width: 35px;
  height: 4px;
  left: 0px;
  background: #fff;
  border-radius: 2.5px;
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.68, 1.78);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.68, 1.78);
}

header.top-navbar #burger-wrapper .main-item .line01 {
  top: 5%;
}

header.top-navbar #burger-wrapper .main-item .line02 {
  top: 30%;
}

header.top-navbar #burger-wrapper .main-item .line03 {
  top: 55%;
}

header.top-navbar #burger-wrapper .menu.close .line01 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 30%;
}

header.top-navbar #burger-wrapper .menu.close .line02, header.top-navbar #burger-wrapper .menu.close .line03 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 30%;
}

.main-section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #761cca;
}

.main-section .bg {
  background-image: url("/IMG/desk-background.jpg");
  background-size: cover;
  background-position: 50% 70%;
  width: 100%;
  height: 100%;
  -webkit-filter: opacity(0.15);
          filter: opacity(0.15);
}

.main-section .main-content {
  position: absolute;
}

.main-section .main-content h1 {
  font-size: 60px;
  padding: 10px 0;
  color: #ffff99;
}

.main-section .main-content .greeting-loop {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.main-section .triangle-container {
  position: absolute;
  top: 80%;
  z-index: 5;
}

.main-section .triangle-container .triangle-down {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid yellow;
}

#about-section {
  height: 600px;
}

#about-section .about {
  position: relative;
  z-index: 1;
  background: #fff;
  width: 100%;
  max-width: 100%;
}

#about-section .about:before {
  background: inherit;
  content: '';
  display: block;
  height: 700px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#about-section .about:before {
  top: 0;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

#about-section .about h2.about-title {
  font-size: 50px;
  font-weight: 800;
  color: blueviolet;
  text-transform: uppercase;
  position: relative;
  left: 80px;
  width: 50%;
}

#about-section .about p.about-info {
  font-size: 22px;
  height: 350px;
  width: 80%;
  max-width: 80%;
  line-height: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

#portfolio-section {
  height: 600px;
}

#portfolio-section .portfolio {
  position: relative;
  z-index: 1;
  background: blueviolet;
}

#portfolio-section .portfolio:before {
  background: inherit;
  content: '';
  display: block;
  height: 700px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#portfolio-section .portfolio:before {
  top: 0;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

#portfolio-section h2.portfolio-title {
  padding-bottom: 60px;
  font-weight: 800;
  text-align: center;
  font-size: 50px;
  color: #ffff99;
  text-transform: uppercase;
}

#portfolio-section .grid-container {
  margin: 0 15px;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio-section .grid-container .portfolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  width: 1000px;
  height: 400px;
}

#portfolio-section .grid-container .portfolio-grid .box {
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#portfolio-section .grid-container .portfolio-grid .box:hover {
  -webkit-filter: drop-shadow(0px 5px 8px #340c5a);
          filter: drop-shadow(0px 5px 8px #340c5a);
}

#portfolio-section .grid-container .portfolio-grid .box1 {
  border-top-left-radius: 15px;
}

#portfolio-section .grid-container .portfolio-grid .box3 {
  border-top-right-radius: 15px;
}

#portfolio-section .grid-container .portfolio-grid .box4 {
  border-bottom-left-radius: 15px;
}

#portfolio-section .grid-container .portfolio-grid .box6 {
  border-bottom-right-radius: 15px;
}

#contact-section {
  padding-top: 100px;
  height: 800px;
  background: #fff;
}

#contact-section .contact {
  height: 600px;
  text-align: center;
}

#contact-section .contact h2.contact-title {
  font-weight: 800;
  font-size: 50px;
  color: blueviolet;
  text-transform: uppercase;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  color: #fff;
  height: 50px;
  padding-right: 20px;
}
/*# sourceMappingURL=styles.css.map */