@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800');

@mixin angle($pseudo, $flip: false, $angle: 6deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
    position: relative;
    z-index: 1;
    $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

    #{$selector} {
      background: inherit;
      content: '';
      display: block;
      height: 500px;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      backface-visibility: hidden; // for Chrome Windows
    }

    @if $pseudo == 'before' {
      #{$selector} {
        border-top: 5px solid hsl(0, 0%, 20%);
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }

    @if $pseudo == 'after' {
      #{$selector} {
        bottom: 0;
        
        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 100%;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }

    @if $pseudo == 'both' {
      &:before {
        top: 0;
        border-top: 5px solid hsl(0, 0%, 20%);
        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }

      &:after {
        bottom: 0;
        border-bottom: 5px solid hsl(0, 0%, 20%);
        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }
  }
}
//===================================================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05rem;
  scroll-behavior: smooth;
}
*::before, *::after {
  box-sizing: border-box;
}

html,body {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

// MAIN Section (Hero) ===========================
.main-section {
  height: 125vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(271, 76%, 45%);
  // below is a very cool background texture
  // background: linear-gradient(90deg,rgba(76,5,113,.7) 0,rgba(76,5,113,.7)), url("/IMG/desk-background.jpg");
  .header--logo {
  position: absolute;
  left: 8%;
  top: 90%;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  background: rgba(169,3,41,0);
  margin: -150px;
  border-radius: 150px;
  content: "";
  background: hsl(60, 100%, 80%);
  span.face{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 33.333%;
    height: 100px;
    border-bottom: solid 30px #000000;
    border-radius: 200px;
    transition: all 250ms ease-out;
  }
  span.speechBubble {
    transition: .4s ease-in-out;
    position: absolute;
    left: 260px;
    width: 200px;
    height: 100px;
    background: #fff;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 4px hsl(0, 0%, 10%));
    h2 {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .triangle {
      position: absolute;
      top: 80px;
      left: -15px;
      transform: rotate(48deg);
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 30px solid #fff;
    }
  }
}
  /* Eyes */
span.face:before, span.face:after{
  position: absolute;
  content: "◝";
  text-indent: 12px;
  font-weight: bold;
  font-size: 26px;
  left: 0%;
  top: 40%;
  width: 40px;
  height: 40px;
  background: #000000;
  margin: -25px;
  border-radius: 50px;
  color: rgba(255,255,255,.7);
  transition: all 150ms ease-out;
}

/* Right Eye */
span.face:after{
  left: auto;
  right: 0%;
}

/* Blink Effect */
span.face.blink:before, span.face.blink:after{
  top: calc(40% + 15px);
  height: 2px;
  background: #000000;
  color: rgba(255,255,255,0);
  border-radius: 0px;
  font-size: 2px;
}


  .bg {
    background-image: url("/IMG/desk-background.jpg");
    background-size: cover;
    background-position: 50% 100%;
    width: 100%;
    height: 100%;
    filter: opacity(.15);
  }
      // HEADER/NAVBAR Section ====
  header.main-section__header {
    position: absolute;
    z-index: 100;
    transition: top 0.2s ease-in-out;
    top:0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70px;
    width: 100%;
    .header--inner-container {
      display: flex;
      width: 98%;
      
      
      // .header--logo {
      //   color: yellow;
      //   padding-left: 20px;
      //   font-size: 40px;
      //   transition: .3s ease-in-out;
      //   // cursor: pointer;
      //   &:hover {
      //     filter: drop-shadow(0px 2px 2px hsl(271, 76%, 20%));
      //   }
      // }
      .header--nav-links {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        li {
          list-style: none;
          padding: 0 20px;
          
          a {
            color: #fff;
            font-size: 20px;
            text-decoration: none;
            text-transform: uppercase;
            transition: .3s ease-in-out;
            cursor: pointer;
            &:hover {
              color: yellow;
              filter: drop-shadow(0px 2px 2px hsl(271, 76%, 20%));
            }
            &:focus {
              outline: 1.45px dashed;
              outline-color:yellow;
              padding: 2px 5px;
              filter: drop-shadow(0px 2px 2px hsl(271, 76%, 20%));
            }
          }
        }
      }
    }
    .burger-container {
      z-index: 500;
      display: none;
      background: transparent;
      border: transparent;
      border-radius: 50%;
      margin-right: 10px;
      position: relative;
      padding: 5px;
      cursor: pointer;
      &:focus {
        outline: thin dashed;
        outline-color:yellow;
        padding: 0 5px;
        // filter: drop-shadow(0px 2px 2px hsl(271, 76%, 20%));   
      }
      .burger-elements {
        width: 35px;
        height: 35px;
        position: relative;
        top: 5px;
        &:hover {
          filter: drop-shadow(0px 2px 2px hsl(271, 76%, 20%));
        }
        &:hover .line {
          background: yellow;
        }
        .line {
          position: absolute;
          width: 35px;
          height: 4px;
          left: 0px;
          background: #fff;
          border-radius: 2.5px;
          transition: all .2s cubic-bezier(0.42, 0, 0.68, 1.78);
        }
        .line01 {
          top: 5%;
        }
        .line02 {
          top: 30%;
        }
        .line03 {
          top: 55%;
        }
      }
      .burger-elements.close .line01 {
        transform: rotate(45deg);
        top: 30%;
        background: yellow;
      }
      .burger-elements.close .line02, .burger-elements.close .line03 {
        transform: rotate(-45deg);
        top: 30%;
        background: yellow;
      }
    }
    #sidebar-menu{
      width: 100%;
      height: 100vh;
      background: hsl(271, 76%, 20%);
      opacity: .98;
      @include angle(after);
      position: absolute;
      // right: 0;
      top: -150vh;
      transition: .4s ease-in-out;
      .sidebar-menu--links {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding-bottom: 50px;
        text-align: left;
        li {
          list-style: none;
          padding: 20px;
          a {
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            padding-bottom: 20px;
          }
        }
      }
    }
    #sidebar-menu.active {
      top: 0;
    }
  }
  header.nav-up {
    top: -70px;
  }
  
  .main-content {
    position: absolute;
    .content-wrapper {
      position: relative;
      top: -80px;
      cursor: default;
      h1 {
        z-index: 10;
        font-size: 80px;
        padding: 10px 0;
        color: hsl(60, 100%, 80%);
        filter: drop-shadow(0px 2px 2px hsl(271, 76%, 20%));
      }
      .greeting-loop {
        color: #fff;
        font-size: 40px;
        text-align: center;
      }
    }
  }
}
  
// ABOUT Section =================================
#about-section {
  height: 1100px;
  
  // height: calc(110% + 201px);
  // height: 110%;
  .about {
    
    @include angle(before);
    background: #fff;
    max-width: 100%;
    width: 100%;
    cursor: default;
    h2.about-title {
      color: blueviolet;
      font-size: 50px;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
    }
    .about-info {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      hyphens: auto;
      justify-content: center;
      line-height: 1.5em;
      margin: 0 auto;
      max-width: 1200px;
      overflow-wrap: break-word;
      padding: 50px 0;
      text-align: justify;
      width: 80%;
      word-wrap: break-word;
      .past {
        width: 100%;
      }
    }
  }
}
 
// PORTFOLIO Section =============================
#portfolio-section {
  .portfolio {
    padding-top: 10px;
    height: 600px;
    @include angle(both);
    background: blueviolet;
    cursor: default;
    h2.portfolio-title {
      font-weight: 800;
      text-align: center;
      font-size: 50px;
      color: hsl(60, 100%, 80%);
      text-transform: uppercase;
    }
    .grid-container {
      margin: 75px 15px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .portfolio-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 15px;
        width: 1000px;
        height: 400px;
        // perspective: 600px;
        .box {
          border-radius: 10px;
          background: hsl(0, 0%, 15%);
          transition: .5s ease-in-out;
          cursor: pointer;
          filter: drop-shadow(0px 4px 4px hsl(271, 76%, 20%));
          overflow: hidden;
          z-index: 5;
          transform-style: preserve-3d;
          &:hover {
            filter: drop-shadow(0px 8px 8px hsl(271, 76%, 20%));
          }
        }
        .rotate {
          z-index: 10;
          transform: scale(2) rotateY(180deg);
        }
        
        .box1 {
          border-top-left-radius: 15px;
          background-image: url('/IMG/portfolio-img/Simones-recipe-box.png');
          background-size: cover;
          background-position: center center;
          // backface-visibility: hidden;
        }
        .box2 {
          background-image: url('/IMG/portfolio-img/Task-Manager.png');
          background-size: cover;
          background-position: center center;
        }
        .box3 {
          background-image: url('/IMG/portfolio-img/Rock-Paper-Pokemon.png');
          background-size: cover;
          background-position: center center;
          border-top-right-radius: 15px;
        }
        .box4 {
          // background: red;
          border-bottom-left-radius: 15px;
        }
        // .box5 {
        //   // background: purple;
        // }
        .box6 {
          // background: #fff;
          border-bottom-right-radius: 15px;
        }
        
      }
      
    }
  }
  
}

// CONTACT Section ===============================
#contact-section {
  padding-top: 100px;
  height: 700px;
  background: #fff;
  cursor: default;
  .contact {
    text-align: center;
    h2.contact-title {
      margin-top: 40px;
      font-weight: 800;
      font-size: 50px;
      color: blueviolet;
      text-transform: uppercase;
    }
    form.cfForm {
      max-width: 600px;
      text-align: center;
      margin: 55px auto;
      input, textarea {
        font-size: 18px;
        border: 1px solid blueviolet;
        padding: 1em;
        border-radius:8px;
        display: block;
        width: 100%;
        margin-top: 1em;
        font-family: arial, sans-serif;
        filter: drop-shadow(1px 3px 2px gray);
        resize: none;
        &:focus {
          outline-color: yellow;
          filter: drop-shadow(1px 2px 2px blueviolet);
        }
      }
      textarea {
          height: 214px;
      }
      #input-submit {
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        background: blueviolet;
        cursor: pointer;
        filter: drop-shadow(0px 4px 2px gray);
        letter-spacing: .1rem;
        transition: .3s ease-in-out;
        text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
        &:hover {
          filter: drop-shadow(0px 1px 1px gray);
        }
      }
    }
    .half {
      float: left;
      width: 48%;
      margin-bottom: 1em;
    }
    .right { width: 50%; }
    .left { margin-right: 2%; }
  }
}

// FOOTER Section ================================
.footer-section {
  width: 100%;
  display: flex;
  align-items: center;
  background: black;
  color: #fff;
  height: 70px;
  .social-media {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    a {
      color: #fff;
      &:hover {
        color: blueviolet;
      }
      .fab {
      font-size: 40px;
      }
    }
  }
  .web-dev {
    font-size: 18px;
    position: absolute;
    right: 0;
    padding-right: 10px;
    cursor: default;
  }
}

// @MEDIA QUERIES Section ================================
@media screen and (max-width: 1000px) {
  #about-section {
    height: 1400px;
  }
}

@media screen and (max-width: 800px) {
  .main-section {
    .header--logo {
      display: none;
    }
  }
  .main-content {
    .content-wrapper {
      h1 {
        font-size: 60px !important;
      }
    }
  }
  #about-section {
    // height: 170% !important;
    .about {
      padding-top: 50px !important;
    }
  }
  section#portfolio-section {
    .portfolio { 
      padding-top: 50px !important;
      height: 800px !important;
      .portfolio-grid { 
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: repeat(3, 1fr) !important;
        width: 90% !important;
        .box {
          height: 200px !important;
        }
      }
    }
  }
  section#contact-section {
    padding-top: 75px !important;
    // .contact {
    // }
  }
}

@media screen and (min-width: 600px){
  #sidebar-menu {
    display: none !important;
  }
  // #about-section {
  // }
}

@media screen and (max-width: 600px) {
  .main-section {
    height: 110vh !important;
  }
  .main-section__header {
    .header--inner-container {
    // width: 100% !important;
      .header--nav-links {
        display: none !important;
      }
    }
    .burger-menu {
      button.burger-container {
        display: block !important;
      }
    }
  }
  .main-content {
    .content-wrapper {
      h1 {
        font-size: 40px !important;
      }
      .greeting-loop {
        font-size: 26px !important;
      }
    }
  }
  // #about-section {
  //   height: 180% !important;
  // }
  section#portfolio-section {
    .portfolio { 
      height: 1500px !important;
      .portfolio-grid { 
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(6, 1fr) !important;
        width: 80% !important;
        .box {
          height: 200px !important;
        }
        .rotate {
          transform: scale(1) rotateY(180deg) !important;
        }
      }
    }
  }
  section#contact-section {
    width: 100%;
    height: 900px;
    display: flex;
    .contact {
      form.cfForm {
        input#input-submit {
          width: 80%;
          position: relative;
          left: 50%;
          top: 20px;
          transform: translate(-50%);
        }
      }
      .half {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 80% !important;
      }
    }
  }

}

@media screen and (max-width: 500px) {
  
  .main-content {
    .content-wrapper {
      h1 {
        font-size: 36px !important;
      }
      .greeting-loop {
        font-size: 26px !important;
      }
    }
  }

  #about-section {
    height: 2200px !important;
    .about {
      // height: auto !important;
      p.about-info {
        font-size: 18px !important;
        width: 95% !important;
      }
    }
  }
  
  footer.footer-section {
    .social-media {
      width: 100% !important;
      justify-content: flex-start !important;
      a {
        padding: 5px;
      }
    }
    .web-dev {
      font-size: 16px !important;
    }
  }
}