@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05rem;
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

section.main-section {
  height: 125vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #761cca;
}

section.main-section .bg {
  background-image: url("/IMG/desk-background.jpg");
  background-size: cover;
  background-position: 50% 100%;
  width: 100%;
  height: 100%;
  -webkit-filter: opacity(0.15);
          filter: opacity(0.15);
}

section.main-section header.main-section--header {
  position: absolute;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
}

section.main-section header.main-section--header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
}

section.main-section header.main-section--header .header__container .header__logo {
  color: yellow;
  padding-left: 20px;
  font-size: 40px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

section.main-section header.main-section--header .header__container .header__logo:hover {
  -webkit-filter: drop-shadow(0px 2px 2px #340c5a);
          filter: drop-shadow(0px 2px 2px #340c5a);
}

section.main-section header.main-section--header .header__container ul.header__nav-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.main-section header.main-section--header .header__container ul.header__nav-links li {
  list-style: none;
  padding: 0 20px;
}

section.main-section header.main-section--header .header__container ul.header__nav-links li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

section.main-section header.main-section--header .header__container ul.header__nav-links li a:hover {
  color: yellow;
  -webkit-filter: drop-shadow(0px 2px 2px #340c5a);
          filter: drop-shadow(0px 2px 2px #340c5a);
}

section.main-section header.main-section--header .header__container ul.header__nav-links li a:focus {
  outline: 1.45px dashed;
  outline-color: yellow;
  padding: 2px 5px;
  -webkit-filter: drop-shadow(0px 2px 2px #340c5a);
          filter: drop-shadow(0px 2px 2px #340c5a);
}

section.main-section header.main-section--header #burger-container {
  display: inline-block;
  background: transparent;
  border: transparent;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  padding: 5px;
  cursor: pointer;
}

section.main-section header.main-section--header #burger-container:focus {
  outline: thin dashed;
  outline-color: yellow;
  padding: 0 5px;
}

section.main-section header.main-section--header #burger-container .burger-elements {
  width: 35px;
  height: 35px;
  position: relative;
  top: 5px;
}

section.main-section header.main-section--header #burger-container .burger-elements:hover {
  -webkit-filter: drop-shadow(0px 2px 2px #340c5a);
          filter: drop-shadow(0px 2px 2px #340c5a);
}

section.main-section header.main-section--header #burger-container .burger-elements:hover .line {
  background: yellow;
}

section.main-section header.main-section--header #burger-container .burger-elements .line {
  position: absolute;
  width: 35px;
  height: 4px;
  left: 0px;
  background: #fff;
  border-radius: 2.5px;
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.68, 1.78);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.68, 1.78);
}

section.main-section header.main-section--header #burger-container .burger-elements .line01 {
  top: 5%;
}

section.main-section header.main-section--header #burger-container .burger-elements .line02 {
  top: 30%;
}

section.main-section header.main-section--header #burger-container .burger-elements .line03 {
  top: 55%;
}

section.main-section header.main-section--header #burger-container .burger-elements.close .line01 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 30%;
  background: yellow;
}

section.main-section header.main-section--header #burger-container .burger-elements.close .line02, section.main-section header.main-section--header #burger-container .burger-elements.close .line03 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 30%;
  background: yellow;
}

section.main-section .main-content {
  position: absolute;
}

section.main-section .main-content .content-wrapper {
  position: relative;
  top: -80px;
  cursor: default;
}

section.main-section .main-content .content-wrapper h1 {
  font-size: 80px;
  padding: 10px 0;
  color: #ffff99;
  -webkit-filter: drop-shadow(0px 2px 2px #340c5a);
          filter: drop-shadow(0px 2px 2px #340c5a);
}

section.main-section .main-content .content-wrapper .greeting-loop {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

section.main-section .triangle-container {
  position: absolute;
  top: 90%;
  z-index: 5;
}

section.main-section .triangle-container .triangle-down {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid yellow;
  -webkit-filter: drop-shadow(0px 3px 2px #340c5a);
          filter: drop-shadow(0px 3px 2px #340c5a);
}

section#about-section .about {
  height: 800px;
  position: relative;
  z-index: 1;
  background: #fff;
  width: 100%;
  max-width: 100%;
  cursor: default;
}

section#about-section .about:before {
  background: inherit;
  content: '';
  display: block;
  height: 200px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

section#about-section .about:before {
  top: 0;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

section#about-section .about h2.about-title {
  font-size: 50px;
  font-weight: 800;
  color: blueviolet;
  text-transform: uppercase;
  margin-left: 80px;
}

section#about-section .about p.about-info {
  padding: 50px 0;
  font-size: 22px;
  width: 80%;
  max-width: 80%;
  line-height: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

section#portfolio-section .portfolio {
  height: 600px;
  position: relative;
  z-index: 1;
  background: blueviolet;
  cursor: default;
}

section#portfolio-section .portfolio:before, section#portfolio-section .portfolio:after {
  background: inherit;
  content: '';
  display: block;
  height: 200px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

section#portfolio-section .portfolio:before {
  top: 0;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

section#portfolio-section .portfolio:after {
  bottom: 0;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

section#portfolio-section .portfolio h2.portfolio-title {
  font-weight: 800;
  text-align: center;
  font-size: 50px;
  color: #ffff99;
  text-transform: uppercase;
}

section#portfolio-section .portfolio .grid-container {
  margin: 75px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#portfolio-section .portfolio .grid-container .portfolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  width: 1000px;
  height: 400px;
}

section#portfolio-section .portfolio .grid-container .portfolio-grid .box {
  border-radius: 10px;
  background: #262626;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px #340c5a);
          filter: drop-shadow(0px 4px 4px #340c5a);
  overflow: hidden;
  z-index: 5;
  -webkit-perspective: 600px;
          perspective: 600px;
}

section#portfolio-section .portfolio .grid-container .portfolio-grid .box:hover {
  -webkit-filter: drop-shadow(0px 8px 8px #340c5a);
          filter: drop-shadow(0px 8px 8px #340c5a);
}

section#portfolio-section .portfolio .grid-container .portfolio-grid .rotate {
  z-index: 10;
  -webkit-transform: scale(2) rotateY(180deg);
          transform: scale(2) rotateY(180deg);
}

section#portfolio-section .portfolio .grid-container .portfolio-grid .box1 {
  border-top-left-radius: 15px;
  background-image: url("/IMG/portfolio-img/Simones-recipe-box.png");
  background-size: cover;
  background-position: center center;
}

section#portfolio-section .portfolio .grid-container .portfolio-grid .box2 {
  background-image: url("/IMG/portfolio-img/Task-Manager.png");
  background-size: cover;
  background-position: center center;
}

section#portfolio-section .portfolio .grid-container .portfolio-grid .box3 {
  background-image: url("/IMG/portfolio-img/Rock-Paper-Pokemon.png");
  background-size: cover;
  background-position: center center;
  border-top-right-radius: 15px;
}

section#portfolio-section .portfolio .grid-container .portfolio-grid .box4 {
  border-bottom-left-radius: 15px;
}

section#portfolio-section .portfolio .grid-container .portfolio-grid .box6 {
  border-bottom-right-radius: 15px;
}

section#contact-section {
  padding-top: 100px;
  height: 700px;
  background: #fff;
  cursor: default;
}

section#contact-section .contact {
  text-align: center;
}

section#contact-section .contact h2.contact-title {
  margin-top: 40px;
  font-weight: 800;
  font-size: 50px;
  color: blueviolet;
  text-transform: uppercase;
}

section#contact-section .contact form.cfForm {
  max-width: 600px;
  text-align: center;
  margin: 55px auto;
}

section#contact-section .contact form.cfForm input, section#contact-section .contact form.cfForm textarea {
  font-size: 18px;
  border: 1px solid blueviolet;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: arial, sans-serif;
  -webkit-filter: drop-shadow(1px 3px 2px gray);
          filter: drop-shadow(1px 3px 2px gray);
  resize: none;
}

section#contact-section .contact form.cfForm input:focus, section#contact-section .contact form.cfForm textarea:focus {
  outline-color: yellow;
  -webkit-filter: drop-shadow(1px 2px 2px blueviolet);
          filter: drop-shadow(1px 2px 2px blueviolet);
}

section#contact-section .contact form.cfForm #input-submit {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  background: blueviolet;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 2px gray);
          filter: drop-shadow(0px 4px 2px gray);
  letter-spacing: .1rem;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}

section#contact-section .contact form.cfForm #input-submit:hover {
  -webkit-filter: drop-shadow(0px 1px 1px gray);
          filter: drop-shadow(0px 1px 1px gray);
}

section#contact-section .contact form.cfForm textarea {
  height: 214px;
}

section#contact-section .contact .half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

section#contact-section .contact .right {
  width: 50%;
}

section#contact-section .contact .left {
  margin-right: 2%;
}

footer.footer-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  color: #fff;
  height: 70px;
}

footer.footer-section .social-media {
  width: 20%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

footer.footer-section .social-media a {
  color: #fff;
}

footer.footer-section .social-media a:hover {
  color: blueviolet;
}

footer.footer-section .social-media a .fab {
  font-size: 40px;
}

footer.footer-section .web-dev {
  font-size: 18px;
  position: absolute;
  right: 0;
  padding-right: 10px;
  cursor: default;
}
/*# sourceMappingURL=styles.css.map */