@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05rem;
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

html header.top-navbar, body header.top-navbar {
  position: absolute;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
}

html header.top-navbar .nav-container, body header.top-navbar .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
}

html header.top-navbar .nav-container h1.logo, body header.top-navbar .nav-container h1.logo {
  color: yellow;
  padding: 0 20px;
  font-size: 30px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

html header.top-navbar .nav-container h1.logo:hover, body header.top-navbar .nav-container h1.logo:hover {
  -webkit-filter: drop-shadow(2px 2px 2px #340c5a);
          filter: drop-shadow(2px 2px 2px #340c5a);
}

html header.top-navbar .nav-container ul.menu-links, body header.top-navbar .nav-container ul.menu-links {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html header.top-navbar .nav-container ul.menu-links li, body header.top-navbar .nav-container ul.menu-links li {
  list-style: none;
  padding: 0 20px;
}

html header.top-navbar .nav-container ul.menu-links li a, body header.top-navbar .nav-container ul.menu-links li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

html header.top-navbar .nav-container ul.menu-links li a:hover, body header.top-navbar .nav-container ul.menu-links li a:hover {
  color: yellow;
  -webkit-filter: drop-shadow(2px 2px 2px #340c5a);
          filter: drop-shadow(2px 2px 2px #340c5a);
}

html header.top-navbar button.hamburger, body header.top-navbar button.hamburger {
  font-size: 30px;
}

html .main-section, body .main-section {
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #761cca;
}

html .main-section .bg, body .main-section .bg {
  background-image: url("/IMG/desk-background.jpg");
  background-size: cover;
  background-position: 50% 70%;
  width: 100%;
  height: 100%;
  -webkit-filter: opacity(0.15);
          filter: opacity(0.15);
}

html .main-section .main-content, body .main-section .main-content {
  position: absolute;
}

html .main-section .main-content h1, body .main-section .main-content h1 {
  font-size: 60px;
  padding: 10px 0;
  color: #ffff99;
}

html .main-section .main-content .greeting-loop, body .main-section .main-content .greeting-loop {
  color: white;
  font-size: 40px;
  text-align: center;
}

html .main-section .triangle-container, body .main-section .triangle-container {
  position: absolute;
  top: 80%;
  z-index: 5;
}

html .main-section .triangle-container .triangle-down, body .main-section .triangle-container .triangle-down {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid yellow;
}

html #about-section .about, body #about-section .about {
  position: relative;
  z-index: 1;
  height: 600px;
  background: white;
  width: 100%;
}

html #about-section .about:before, html #about-section .about:after, body #about-section .about:before, body #about-section .about:after {
  background: inherit;
  content: '';
  display: block;
  height: 600px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

html #about-section .about:before, body #about-section .about:before {
  top: 0;
  -webkit-transform: skewY(1.2deg);
          transform: skewY(1.2deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

html #about-section .about:after, body #about-section .about:after {
  bottom: 0;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

html #about-section .about h2.about-title, body #about-section .about h2.about-title {
  font-size: 50px;
  color: blueviolet;
  text-transform: uppercase;
  position: absolute;
  left: 80px;
}

html #about-section .about p.about-info, body #about-section .about p.about-info {
  font-size: 22px;
  height: 460px;
  width: 80%;
  max-width: 80%;
  line-height: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

html #portfolio-section .portfolio, body #portfolio-section .portfolio {
  position: relative;
  z-index: 1;
  height: 600px;
  background: blueviolet;
}

html #portfolio-section .portfolio:before, html #portfolio-section .portfolio:after, body #portfolio-section .portfolio:before, body #portfolio-section .portfolio:after {
  background: inherit;
  content: '';
  display: block;
  height: 600px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

html #portfolio-section .portfolio:before, body #portfolio-section .portfolio:before {
  top: 0;
  -webkit-transform: skewY(1.2deg);
          transform: skewY(1.2deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

html #portfolio-section .portfolio:after, body #portfolio-section .portfolio:after {
  bottom: 0;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

html #portfolio-section h2.portfolio-title, body #portfolio-section h2.portfolio-title {
  text-align: center;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
}

html #portfolio-section .grid-container, body #portfolio-section .grid-container {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html #portfolio-section .grid-container .portfolio-grid, body #portfolio-section .grid-container .portfolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  width: 1000px;
  height: 400px;
}

html #portfolio-section .grid-container .portfolio-grid .box, body #portfolio-section .grid-container .portfolio-grid .box {
  padding: 20px;
  border-radius: 5px;
  background: white;
}

html #portfolio-section .grid-container .portfolio-grid .box1, body #portfolio-section .grid-container .portfolio-grid .box1 {
  border-top-left-radius: 15px;
}

html #portfolio-section .grid-container .portfolio-grid .box3, body #portfolio-section .grid-container .portfolio-grid .box3 {
  border-top-right-radius: 15px;
}

html #portfolio-section .grid-container .portfolio-grid .box4, body #portfolio-section .grid-container .portfolio-grid .box4 {
  border-bottom-left-radius: 15px;
}

html #portfolio-section .grid-container .portfolio-grid .box6, body #portfolio-section .grid-container .portfolio-grid .box6 {
  border-bottom-right-radius: 15px;
}

html #contact-section, body #contact-section {
  position: relative;
  z-index: 1;
  position: relative;
  z-index: 1;
  height: 600px;
  background: white;
}

html #contact-section:after, body #contact-section:after {
  background: inherit;
  content: '';
  display: block;
  height: 600px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

html #contact-section:after, body #contact-section:after {
  bottom: 0;
  -webkit-transform: skewY(-1.2deg);
          transform: skewY(-1.2deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

html #contact-section:before, body #contact-section:before {
  background: inherit;
  content: '';
  display: block;
  height: 600px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

html #contact-section:before, body #contact-section:before {
  top: 0;
  -webkit-transform: skewY(1.2deg);
          transform: skewY(1.2deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

html #contact-section .contact, body #contact-section .contact {
  text-align: center;
}

html #contact-section .contact h2.contact-title, body #contact-section .contact h2.contact-title {
  font-size: 50px;
  color: blueviolet;
  text-transform: uppercase;
}

html .footer, body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  color: white;
  height: 50px;
  padding-right: 20px;
}
/*# sourceMappingURL=style.css.map */